// Variables
:root {
	--color-primary: hsl(180, 100%, 27%);
	--color-secondary: linear-gradient(180deg, black, darkcyan);
	--color-tertiary: cyan;

	--color-onprimary: #333;
	--color-onsecondary: whitesmoke;
}
